@charset "utf-8";
@import url(http://fonts.googleapis.com/earlyaccess/notosansjp.css);

body {
  font-family: "Noto Sans JP", sans-serif;
  font-weight: 400;
  font-size: 13px;
  line-height: 1.8;
  margin: 10%;
  margin-top: 2em;
}

body > div {
  background: #eee;
  border: #eee solid 1em;
  border-radius: 5px;
  padding: 1em 5em;
}

.justify {
  text-align: justify;
}

.vertical {
  height: 40em;
  -ms-writing-mode: tb-rl;
  -webkit-writing-mode: vertical-rl;
  writing-mode: vertical-rl;

  > p {
    text-indent: 1em;
  }
}
