@charset "utf-8";

.js-yakumono {
  text-align: justify;
}

// 始め括弧系
.js-char--yakumono--hajimekakko {
  // 始め括弧系・行頭
  &.is-start-of-line,
  // 始め括弧系の後に始め括弧系
  // 「「
  &.js-char--yakumono--before--hajimekakko {
    font-feature-settings: 'halt' 1;
  }
}

// 終わり括弧系
.js-char--yakumono--owarikakko {
  // 終わり括弧系・行末
  &.is-end-of-line,
  // 終わり括弧系の後に終わり括弧系
  // 」」
  &.js-char--yakumono--before--owarikakko,
  // 終わり括弧系の後に始め括弧系
  // 」「
  &.js-char--yakumono--before--hajimekakko {
    font-feature-settings: 'halt' 1;
  }
}

// 句点
.js-char--yakumono--kuten {
  // 句点の後に始め括弧
  // 。「
  &.js-char--yakumono--before--hajimekakko,
  // 句点の後に終わり括弧
  // 。」
  &.js-char--yakumono--before--owarikakko {
    font-feature-settings: 'halt' 1;
  }
}

// 読点
.js-char--yakumono--touten {
  // 読点の後に終わり括弧
  // 。」
  &.js-char--yakumono--before--owarikakko,
  // 読点・行末
  &.is-end-of-line {
    font-feature-settings: 'halt' 1;
  }
}

// 追い出し処理
.is-after-oidashi {
  &.js-char--yakumono {
    font-feature-settings: 'halt' 0;
    display: inline-block;
    position: relative;
    width: 2em;
    left: -.5em;

    & + .js-char {
      margin-left: -1.5em;
    }
  }
}
