<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="UTF-8">
  <title>PAGE TITLE</title>
  <% include view/_header %>
</head>
<body>
<p class="js-yakumono">「生きろ。」「生きねば。」と。そして辿り着いた答えは、「水とともに生きる」「土から離れては生きられない」ということです。「生きろ。」「生きねば。」と。そして辿り着いた答えは、「水とともに生きる」「土から離れては生きられない」ということです。</p>
<script src=../node_modules/jquery/dist/jquery.min.js></script>
<script src="../node_modules/blast-text/jquery.blast.min.js"></script>
<script src="assets/js/jquery.yakumono.js"></script>
<script>
  $('.js-yakumono').yakumono();
</script>
</body>
</html>
